{% extends 'home.html' %}

{% block intro %}
<p class="intro-text">La belleza está
    <br>en los ojos del que mira</p>
{% endblock %}

{% block about %}
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Perfil</h2>
            <p><a href="/home/en#about"><img class="flag" src="/img/union-jack.png"></a></p>
            <p>La fotografía en  blanco y negro es capaz de captar el alma de la escena sin distracción, sin palabras, sin necesidad de adornos superfluos. Solo a través del contraste de la luz y la sombra, una imagen puede llegar a expresar conceptos abstractos.</p>
            <p>El blanco y el negro implica la dualidad incuestionablemente presente en la vida como el yin y el yang, la realidad versus la virtualidad, el sueño versus la razón. La efemeridad, realidad, paso del tiempo, evolución, arquitectura o simplemente la belleza de una flor es plasmada en su esencia, transformada, recreada, inmortalizada.</p>
            <p>Cada captura es el resultado de una reflexión crítica en busca de la esencia perdida, del conocimiento personal.</p>
        </div>
    </div>
</section>
{% endblock %}

{% block galleries %}
<h2>Galerías</h2>
{% endblock %}

{% block follow %}
  <h2>Seguir</h2>
  <p>Sígueme en las redes sociales</p>
{% endblock %}

{% block email %}
Envíame un correo
{% endblock %}
