{% extends 'home.html' %}

{% block intro %}
<p class="intro-text">Beauty is in the
    <br>eye of the beholder</p>
{% endblock %}

{% block about %}
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Profile</h2>
            <p><a href="/#about"><img class="flag" src="/img/spain-flag.png"></a></p>
            <p>Black and white photography captures the essence of a scene without distraction, without words, without the need for superfluous ornamentation. The mere contrast between light and shadow is capable of expressing abstract concepts.</p>
            <p>Black and white represent the undeniable duality present in life as in the yin and yang, reality versus virtuality, dreams versus rationality.</p>
            <p>Each shot is the result of critical reflection in search of lost essence and self-knowledge.</p>
        </div>
    </div>
</section>
{% endblock %}

{% block galleries %}
<h2>Galleries</h2>
{% endblock %}

{% block follow %}
<h2>Follow</h2>
<p>Follow me on social media</p>
{% endblock %}

{% block email %}
Email me
{% endblock %}
